{
  "version" : "2017-02-28",
  "operation" : "Query",
  "index": "GSI1",
  "query": {
    "expression": "#sk = :sk AND #data = :data",
    "expressionNames": {
      "#data": "data",
      "#sk": "sk"
    },
    "expressionValues": {
      ":data": $util.dynamodb.toDynamoDBJson($context.source.id),
      ":sk": $util.dynamodb.toDynamoDBJson("User")
    }
  }
}